.p-Home.Banner {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
height: 470px;
margin-left: ;
position: static;
margin-top: 15px;
overflow: hidden;
padding-left: ;
}
.p-Home.Div7 {
width: 35%;
height: 100%;
background-color: #ff762a;
position: relative;
right: 0;
float: none;
margin-right: ;
border-width: ;
border-color: ;
}
.p-Home.Flex8 {
display: flex;
flex-direction: column;
width: 50%;
margin-left: 150px;
height: 100%;
align-items: flex-start;
justify-content: center;
}
.p-Home.Div6 {
font-family: DM Sans;
font-weight: 700;
font-size: 50px;
}
.p-Home.Flex9 {
display: flex;
justify-content: flex-start;
margin-top: 20px;
column-gap: 30px;
}
.p-Home.wrapper {
display: flex;
flex-direction: column;
width: px;
min-width: ;
align-items: center;
justify-content: center;
align-content: stretch;
align-self: center;
overflow: hidden;
box-sizing: border-box;
height: px;
margin-left: ;
margin-right: ;
}
.p-Home.Navbar {
display: flex;
margin-left: 0px;
margin-right: 0px;
height: 30px;
justify-content: space-around;
flex-direction: row;
align-items: center;
align-content: stretch;
align-self: auto;
width: 100%;
padding-top: 25px;
margin-bottom: ;
padding-bottom: 25px;
max-width: 100%;
column-gap: ;
}
.p-Home.right {
display: flex;
justify-content: flex-start;
column-gap: 30px;
align-items: center;
}
.p-Home.left {
display: flex;
column-gap: 10px;
align-content: stretch;
justify-content: flex-start;
align-items: center;
}
.p-Home.Flex2 {
display: flex;
height: 100%;
margin-left: 30px;
width: auto;
justify-content: center;
align-items: center;
row-gap: ;
column-gap: 30px;
overflow: hidden;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
color: #696969;
}
.p-Home.favapps {
display: flex;
justify-content: flex-start;
flex-direction: column;
align-items: center;
margin-top: 80px;
row-gap: 20px;
}
.p-Home.Flex11 {
display: flex;
justify-content: center;
align-items: stretch;
column-gap: 60px;
width: 100%;
height: 30px;
}
.p-Home.menu {
display: flex;
flex-direction: column;
margin-left: 130px;
margin-right: 130px;
margin-top: 150px;
justify-content: flex-start;
align-items: center;
row-gap: 40px;
width: auto;
}
.p-Home.heading {
;
}
.p-Home.menuitems {
display: flex;
width: 100%;
justify-content: center;
font-family: DM Sans;
font-size: 17px;
font-weight: 500;
color: #696969;
align-items: stretch;
column-gap: 30px;
border-width: ;
border-color: ;
}
.p-Home.Flex14 {
display: flex;
height: ;
width: 180px;
flex-direction: column;
align-items: center;
row-gap: 20px;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 15px;
padding-right: 15px;
border-width: 1.5px;
border-radius: 16px;
border-style: solid;
border-color: #d0d0d0;
}
.p-Home.Flex15 {
display: flex;
height: ;
width: 180px;
border-width: 1.5px;
border-color: #d0d0d0;
flex-direction: column;
align-items: center;
row-gap: 20px;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 15px;
padding-right: 15px;
border-radius: 16px;
border-style: solid;
}
.p-Home.Flex16 {
display: flex;
flex-direction: column;
height: ;
width: 180px;
border-color: #d0d0d0;
border-width: 1.5px;
box-sizing: content-box;
justify-content: flex-start;
align-items: center;
align-content: stretch;
row-gap: 20px;
border-radius: 16px;
z-index: 1;
border-style: solid;
padding-left: 15px;
padding-right: 15px;
max-width: ;
padding-top: 30px;
padding-bottom: 30px;
}
.p-Home.Flex17 {
display: flex;
height: ;
width: 180px;
flex-direction: column;
align-items: center;
row-gap: 20px;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 15px;
padding-right: 15px;
border-radius: 16px;
border-width: 1.5px;
border-style: solid;
border-color: #d0d0d0;
}
.p-Home.Flex84 {
display: flex;
column-gap: 20px;
margin-top: 20px;
}
.p-Home.advert {
display: flex;
padding-left: ;
margin-top: 150px;
width: 100%;
box-sizing: border-box;
}
.p-Home.Flex19 {
display: flex;
width: 46%;
background-color: #ff762a;
flex-direction: column;
row-gap: 20px;
align-items: stretch;
justify-content: center;
padding-left: 150px;
margin-left: ;
padding-right: 100px;
}
.p-Home.Flex20 {
display: flex;
justify-content: flex-start;
column-gap: 30px;
font-family: ;
font-weight: 500;
font-size: 18px;
}
.p-Home.articles {
display: flex;
background-color: #fff9f3;
margin-top: 150px;
height: 900px;
flex-direction: column;
padding-left: 120px;
padding-right: 120px;
padding-top: 150px;
align-items: center;
}
.p-Home.topheading {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}
.p-Home.articleshowcase {
display: flex;
background-color: transparent;
border-radius: 30px;
margin-top: 30px;
justify-content: space-between;
flex-wrap: wrap;
}
.p-Home.Flex24 {
display: flex;
width: 45%;
flex-direction: column;
background-color: #fcfcfc;
border-radius: 30px;
overflow: hidden;
row-gap: 30px;
padding-bottom: ;
}
.p-Home.Flex26 {
display: flex;
flex-direction: column;
row-gap: 0px;
padding-left: 20px;
margin-bottom: 20px;
padding-right: 20px;
}
.p-Home.Flex25 {
display: flex;
row-gap: 30px;
width: 50%;
flex-wrap: wrap;
column-gap: 20px;
}
.p-Home.Flex27 {
display: flex;
flex-direction: column;
width: 45%;
background-color: #ffffff;
overflow: hidden;
border-radius: 30px;
min-width: ;
flex-wrap: nowrap;
}
.p-Home.Div16 {
margin-left: 20px;
margin-right: 20px;
margin-bottom: 20px;
}
.p-Home.Flex28 {
display: flex;
flex-direction: column;
width: 45%;
background-color: #ffffff;
overflow: hidden;
border-radius: 30px;
min-width: ;
}
.p-Home.Div14 {
margin-left: 20px;
margin-right: 20px;
margin-bottom: 20px;
}
.p-Home.Flex29 {
display: flex;
flex-direction: column;
width: 45%;
background-color: #ffffff;
overflow: hidden;
border-radius: 30px;
min-width: ;
}
.p-Home.Div11 {
margin-left: 20px;
margin-right: 20px;
margin-bottom: 20px;
}
.p-Home.Flex30 {
display: flex;
flex-direction: column;
width: 45%;
background-color: #ffffff;
border-radius: 30px;
overflow: hidden;
min-width: ;
}
.p-Home.Div10 {
margin-left: 20px;
margin-right: 20px;
margin-bottom: 20px;
}
.p-Home.instashoutout {
display: flex;
flex-direction: column;
padding-left: 120px;
padding-right: 120px;
row-gap: 80px;
padding-top: 150px;
padding-bottom: 150px;
background-color: #fff9f3;
}
.p-Home.headin {
display: flex;
justify-content: space-between;
}
.p-Home.Flex33 {
display: flex;
width: 100%;
justify-content: center;
height: ;
align-items: center;
column-gap: 30px;
overflow: hidden;
flex-wrap: wrap;
row-gap: ;
box-sizing: border-box;
}
.p-Home.Flex35 {
display: flex;
width: 25%;
max-width: ;
height: ;
}
.p-Home.Flex36 {
display: flex;
width: 25%;
max-width: ;
height: 100%;
}
.p-Home.Flex118 {
display: flex;
flex-direction: column;
width: 25%;
row-gap: 10px;
}
.p-Home.Flex116 {
display: flex;
width: 100%;
column-gap: 15px;
height: ;
overflow: hidden;
}
.p-Home.Flex117 {
display: flex;
width: 100%;
height: px;
column-gap: 15px;
overflow: hidden;
margin-top: ;
}
.p-Home.Footer {
display: flex;
margin-left: 0px;
margin-right: 0px;
margin-top: 100px;
width: 100%;
justify-content: center;
row-gap: ;
column-gap: 80px;
padding-bottom: 100px;
flex-wrap: wrap;
}
.p-Home.Companyinfo {
display: flex;
flex-direction: column;
width: 30%;
row-gap: 20px;
}
.p-Home.Flex43 {
display: flex;
column-gap: 10px;
}
.p-Home.navlinks {
display: flex;
flex-wrap: nowrap;
column-gap: 40px;
}
.p-Home.pages {
display: flex;
flex-wrap: wrap;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex46 {
display: flex;
flex-wrap: wrap;
flex-direction: column;
row-gap: 10px;
}
.p-Home.followimgs {
display: flex;
width: 23%;
flex-wrap: wrap;
row-gap: 20px;
column-gap: 20px;
}
.p-Home.aboutus {
display: flex;
background-color: #fff9f3;
justify-content: space-between;
padding-left: 180px;
padding-right: 120px;
top: 0;
padding-top: 100px;
padding-bottom: 200px;
column-gap: ;
align-items: center;
margin-top: 100px;
}
.p-Home.Div17 {
width: 55%;
position: relative;
}
.p-Home.Flex48 {
display: flex;
flex-direction: column;
font-family: DM Sans;
font-size: 16px;
font-weight: 500;
color: #696969;
row-gap: 15px;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 80px;
padding-top: 80px;
background-color: #ffffff;
border-radius: 30px;
position: absolute;
bottom: -100px;
right: 0;
width: px;
height: px;
overflow: hidden;
word-wrap: break-word;
max-height: 400px;
box-sizing: border-box;
flex-wrap: wrap;
align-items: flex-start;
justify-content: center;
max-width: 400px;
}
.p-Home.Div18 {
;
}
.p-Home.Flex50 {
display: flex;
}
.p-Home.Flex51 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex53 {
display: flex;
column-gap: ;
}
.p-Home.Flex52 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex55 {
display: flex;
}
.p-Home.Flex54 {
display: flex;
column-gap: 20px;
word-wrap: normal;
height: auto;
}
.p-Home.aboutuscontainer {
display: flex;
flex-direction: column;
width: 40%;
}
.p-Home.Flex56 {
display: flex;
flex-direction: column;
column-gap: ;
row-gap: 30px;
}
.p-Home.Flex57 {
display: flex;
justify-content: flex-start;
align-items: center;
column-gap: 30px;
margin-top: 30px;
}
.p-Home.browsemenu {
display: flex;
flex-direction: column;
align-items: center;
padding-left: ;
padding-right: ;
justify-content: center;
margin-top: 180px;
max-width: ;
box-sizing: border-box;
width: px;
min-width: ;
align-self: auto;
margin-left: 130px;
margin-right: 130px;
align-content: stretch;
}
.p-Home.Flex59 {
display: flex;
width: 100%;
margin-top: 80px;
column-gap: 20px;
flex-wrap: wrap;
row-gap: 80px;
justify-content: center;
align-items: flex-start;
}
.p-Home.item1 {
display: flex;
flex-direction: column;
width: 23%;
align-items: stretch;
justify-content: center;
align-content: stretch;
row-gap: 10px;
height: 100%;
}
.p-Home.Div19 {
width: 100%;
position: relative;
}
.p-Home.Flex68 {
display: flex;
width: 100%;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}
.p-Home.Flex70 {
display: flex;
flex-direction: column;
width: 23%;
align-items: stretch;
justify-content: center;
align-content: stretch;
row-gap: 10px;
height: 100%;
}
.p-Home.Flex69 {
display: flex;
width: 100%;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}
.p-Home.Div20 {
width: 100%;
position: relative;
}
.p-Home.Flex72 {
display: flex;
flex-direction: column;
width: 23%;
align-items: stretch;
justify-content: center;
align-content: stretch;
row-gap: 10px;
height: 100%;
}
.p-Home.Flex71 {
display: flex;
width: 100%;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}
.p-Home.Div21 {
width: 100%;
position: relative;
}
.p-Home.Flex74 {
display: flex;
flex-direction: column;
width: 23%;
align-items: stretch;
justify-content: center;
align-content: stretch;
row-gap: 10px;
height: 100%;
}
.p-Home.Flex73 {
display: flex;
width: 100%;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}
.p-Home.Div22 {
width: 100%;
position: relative;
}
.p-Home.Flex76 {
display: flex;
flex-direction: column;
width: 23%;
align-items: stretch;
justify-content: center;
align-content: stretch;
row-gap: 10px;
height: 100%;
}
.p-Home.Div23 {
width: 100%;
position: relative;
}
.p-Home.Flex75 {
display: flex;
width: 100%;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}
.p-Home.Flex78 {
display: flex;
flex-direction: column;
width: 23%;
align-items: stretch;
justify-content: center;
align-content: stretch;
row-gap: 10px;
height: 100%;
}
.p-Home.Div24 {
width: 100%;
position: relative;
}
.p-Home.Flex77 {
display: flex;
width: 100%;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}
.p-Home.Flex80 {
display: flex;
flex-direction: column;
width: 23%;
align-items: stretch;
justify-content: center;
align-content: stretch;
row-gap: 10px;
height: 100%;
}
.p-Home.Div25 {
width: 100%;
position: relative;
}
.p-Home.Flex79 {
display: flex;
width: 100%;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}
.p-Home.Flex82 {
display: flex;
flex-direction: column;
width: 23%;
align-items: stretch;
justify-content: center;
align-content: stretch;
row-gap: 10px;
height: 100%;
}
.p-Home.Div26 {
width: 100%;
position: relative;
}
.p-Home.Flex81 {
display: flex;
width: 100%;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}
.p-Home.Flex83 {
display: flex;
column-gap: 20px;
margin-top: 40px;
}
.p-Home.testimonials {
display: flex;
flex-direction: column;
align-items: center;
padding-left: 130px;
padding-right: 130px;
row-gap: 25px;
margin-top: 150px;
}
.p-Home.Flex86 {
display: flex;
align-items: center;
column-gap: 30px;
}
.p-Home.Flex87 {
display: flex;
border-color: #d9d4d4;
border-width: 1.5px;
border-radius: 30px;
flex-direction: column;
padding-top: 50px;
padding-bottom: 50px;
padding-left: 30px;
padding-right: 30px;
row-gap: 10px;
border-style: solid;
max-width: 600px;
}
.p-Home.Flex88 {
display: flex;
column-gap: 10px;
}
.p-Home.Flex89 {
display: flex;
column-gap: 30px;
align-items: center;
}
.p-Home.Flex90 {
display: flex;
flex-direction: column;
}
.p-Home.Flex91 {
display: flex;
column-gap: 20px;
margin-top: 40px;
}
.p-Home.bookingform {
display: flex;
margin-top: ;
padding-left: 0px;
padding-right: 0px;
height: 950px;
width: 100%;
flex-wrap: wrap;
box-sizing: border-box;
overflow: hidden;
}
.p-Home.Div27 {
width: 43%;
background-color: #ff762a;
position: relative;
}
.p-Home.Flex93 {
display: flex;
width: 500px;
background-color: #ffffff;
border-radius: 30px;
border-width: 1.5px;
border-style: solid;
border-color: #d9d4d4;
position: absolute;
left: -150px;
height: 83%;
top: 80px;
padding-top: 100px;
padding-bottom: 100px;
padding-left: 50px;
padding-right: 50px;
background-clip: border-box;
-webkit-background-clip: border-box;
box-sizing: border-box;
flex-wrap: wrap;
column-gap: 20px;
row-gap: 30px;
}
.p-Home.Flex109 {
display: flex;
flex-direction: column;
row-gap: 20px;
height: auto;
}
.p-Home.Flex110 {
display: flex;
flex-direction: column;
row-gap: 20px;
height: auto;
}
.p-Home.Flex111 {
display: flex;
flex-direction: column;
row-gap: 20px;
height: auto;
}
.p-Home.Flex112 {
display: flex;
flex-direction: column;
row-gap: 20px;
height: auto;
}
.p-Home.Flex113 {
display: flex;
flex-direction: column;
row-gap: 20px;
height: auto;
}
.p-Home.Flex114 {
display: flex;
flex-direction: column;
row-gap: 20px;
height: auto;
}
.p-Home.Flex115 {
display: flex;
flex-direction: column;
row-gap: 20px;
height: auto;
width: 100%;
}
.p-Home.Flex94 {
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: #ffffff;
padding-left: ;
justify-content: center;
row-gap: ;
width: 57%;
}
.p-Home.Div30 {
max-width: 400px;
margin-left: 130px;
}
.p-Home.Flex108 {
display: flex;
flex-direction: column;
font-family: DM Sans;
font-size: 16px;
font-weight: 500;
color: #696969;
row-gap: 15px;
padding-left: ;
padding-right: ;
padding-bottom: ;
padding-top: ;
background-color: transparent;
border-radius: ;
position: static;
right: 0;
width: px;
height: px;
overflow: hidden;
word-wrap: break-word;
max-height: 400px;
box-sizing: border-box;
flex-wrap: wrap;
align-items: flex-start;
justify-content: center;
max-width: 400px;
}
.p-Home.Flex105 {
display: flex;
}
.p-Home.Flex102 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex106 {
display: flex;
column-gap: ;
}
.p-Home.Flex103 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex107 {
display: flex;
}
.p-Home.Flex104 {
display: flex;
column-gap: 20px;
word-wrap: normal;
height: auto;
}
.p-Home.Image6 {
width: 400px;
position: absolute;
top: 37px;
left: -150px;
border-radius: 10px;
}
.p-Home.TextBox6 {
font-size: 18px;
font-family: DM Sans;
font-weight: normal;
margin-top: 30px;
color: #696969;
max-width: 80%;
}
.p-Home.TextBox4 {
;
}
.p-Home.TextBox5 {
color: #ff762a;
}
.p-Home.Button5 {
color: #fff;
background-color: #ff762a;
padding-top: 12px;
padding-left: 30px;
padding-bottom: 12px;
padding-right: 30px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
height: 100%;
font-family: DM Sans;
}
.p-Home.Button14 {
color: #000000;
background-color: transparent;
padding-top: 12px;
padding-left: 30px;
padding-bottom: 12px;
padding-right: 30px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d0d0d0;
cursor: pointer;
user-select: none;
height: 100%;
font-family: DM Sans;
}
.p-Home.Button2 {
color: #fff;
background-color: #ff762a;
padding-top: 9px;
padding-left: 25px;
padding-bottom: 9px;
padding-right: 25px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: normal;
text-align: center;
border-width: ;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
height: ;
font-family: DM Sans;
align-self: auto;
box-sizing: border-box;
}
.p-Home.Button3 {
color: #000000;
background-color: transparent;
padding-top: 9px;
padding-left: 25px;
padding-bottom: 9px;
padding-right: 25px;
font-size: 16px;
border-radius: 40px;
outline: none;
font-weight: normal;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d0d0d0;
cursor: pointer;
user-select: none;
width: auto;
height: ;
font-family: DM Sans;
box-sizing: border-box;
}
.p-Home.Logo {
width: 240px;
height: 100%;
}
.p-Home.TextBox120 {
cursor: pointer;
}
.p-Home.TextBox121 {
cursor: pointer;
}
.p-Home.TextBox122 {
cursor: pointer;
}
.p-Home.TextBox123 {
cursor: pointer;
}
.p-Home.TextBox124 {
cursor: pointer;
}
.p-Home.TextBox7 {
font-family: DM Sans;
font-weight: 700;
font-size: 21px;
}
.p-Home.Image7 {
;
}
.p-Home.Image8 {
;
}
.p-Home.Image9 {
height: 100%;
}
.p-Home.Image10 {
;
}
.p-Home.TextBox9 {
font-family: DM Sans;
font-weight: normal;
font-size: 25px;
}
.p-Home.Image14 {
height: 100px;
}
.p-Home.TextBox18 {
color: #000000;
font-family: DM Sans;
font-weight: 700;
font-size: 18px;
}
.p-Home.TextBox20 {
;
}
.p-Home.TextBox21 {
color: #ff762a;
}
.p-Home.Image12 {
height: 100px;
}
.p-Home.TextBox12 {
color: #000000;
font-size: 18px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox13 {
;
}
.p-Home.TextBox14 {
color: #ff762a;
}
.p-Home.Image11 {
height: 100px;
}
.p-Home.TextBox8 {
;
}
.p-Home.TextBox10 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
color: #ff762a;
}
.p-Home.TextBox11 {
font-family: DM Sans;
font-weight: 700;
font-size: 18px;
color: #000000;
border-width: ;
border-color: ;
}
.p-Home.Image13 {
height: 100px;
}
.p-Home.TextBox15 {
color: #000000;
font-family: DM Sans;
font-weight: 700;
font-size: 18px;
}
.p-Home.TextBox16 {
;
}
.p-Home.TextBox17 {
color: #ff762a;
}
.p-Home.Button18 {
color: #fff;
background-color: #ff762a;
padding-top: 12px;
padding-left: 30px;
padding-bottom: 12px;
padding-right: 30px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
height: 100%;
font-family: DM Sans;
}
.p-Home.Button19 {
color: #000000;
background-color: transparent;
padding-top: 12px;
padding-left: 30px;
padding-bottom: 12px;
padding-right: 30px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d0d0d0;
cursor: pointer;
user-select: none;
height: 100%;
font-family: DM Sans;
}
.p-Home.Image15 {
width: 54%;
margin-left: ;
padding-left: ;
}
.p-Home.TextBox23 {
font-size: 38px;
font-family: DM Sans;
font-weight: 700;
color: #ffffff;
padding-right: ;
margin-right: 50px;
}
.p-Home.TextBox24 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #ffffff;
}
.p-Home.Button6 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 25px;
padding-bottom: 8px;
padding-right: 25px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d0d0d0;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button7 {
color: #fff;
background-color: transparent;
padding-top: 8px;
padding-left: 25px;
padding-bottom: 8px;
padding-right: 25px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox25 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
color: #000000;
}
.p-Home.Button8 {
color: #000000;
background-color: #fffdfd;
padding-top: 12px;
padding-left: 15px;
padding-bottom: 12px;
padding-right: 15px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: normal;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Image16 {
width: 100%;
}
.p-Home.TextBox26 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #696969;
margin-top: 15px;
}
.p-Home.TextBox27 {
font-family: DM Sans;
font-weight: 700;
font-size: 26px;
margin-top: 25px;
}
.p-Home.TextBox28 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
}
.p-Home.Image20 {
width: 100%;
}
.p-Home.TextBox35 {
margin-top: 20px;
margin-bottom: 10px;
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #696969;
}
.p-Home.TextBox36 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Image19 {
width: 100%;
}
.p-Home.TextBox33 {
margin-top: 20px;
margin-bottom: 10px;
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #696969;
}
.p-Home.TextBox34 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Image18 {
width: 100%;
}
.p-Home.TextBox31 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
color: #000000;
}
.p-Home.TextBox32 {
margin-top: 20px;
margin-bottom: 10px;
font-family: DM Sans;
font-weight: normal;
font-size: 15px;
color: #696969;
}
.p-Home.Image17 {
width: 100%;
}
.p-Home.TextBox29 {
margin-top: 20px;
margin-bottom: 10px;
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #696969;
}
.p-Home.TextBox30 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox37 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.Button9 {
color: #fff;
background-color: #ff762a;
padding-top: 12px;
padding-left: 30px;
padding-bottom: 12px;
padding-right: 30px;
font-size: 18px;
border-radius: 30px;
outline: none;
font-weight: 500;
text-align: center;
border-width: ;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Image21 {
width: 100%;
border-radius: 30px;
height: 100%;
}
.p-Home.Image22 {
width: 100%;
border-radius: 30px;
max-width: ;
height: ;
}
.p-Home.Image29 {
width: 47%;
border-radius: 30px;
max-width: ;
min-width: ;
background-clip: border-box;
-webkit-background-clip: border-box;
}
.p-Home.Image30 {
width: 47%;
border-radius: 30px;
max-width: ;
min-width: ;
}
.p-Home.Image28 {
width: 47%;
border-radius: 30px;
max-width: ;
min-width: ;
height: 100%;
}
.p-Home.Image31 {
width: 47%;
border-radius: 30px;
max-width: ;
min-width: ;
height: 100%;
}
.p-Home.Image40 {
height: 25px;
align-self: flex-start;
}
.p-Home.TextBox38 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #696969;
}
.p-Home.Image41 {
width: 30px;
}
.p-Home.Image42 {
width: 30px;
}
.p-Home.Image43 {
width: 30px;
}
.p-Home.Image44 {
width: 30px;
}
.p-Home.Image45 {
width: 30px;
}
.p-Home.TextBox46 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #696969;
}
.p-Home.TextBox47 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #696969;
}
.p-Home.TextBox48 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #696969;
}
.p-Home.TextBox49 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #696969;
}
.p-Home.TextBox50 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #696969;
}
.p-Home.TextBox51 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #696969;
}
.p-Home.TextBox52 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #696969;
}
.p-Home.TextBox54 {
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
margin-bottom: 20px;
}
.p-Home.TextBox55 {
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
margin-bottom: 20px;
}
.p-Home.TextBox56 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #696969;
}
.p-Home.TextBox57 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #696969;
}
.p-Home.TextBox58 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #696969;
}
.p-Home.TextBox59 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #696969;
}
.p-Home.TextBox60 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #696969;
}
.p-Home.TextBox61 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #696969;
}
.p-Home.TextBox62 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #696969;
}
.p-Home.Image36 {
width: 45%;
border-radius: 30px;
}
.p-Home.Image37 {
width: 45%;
border-radius: 30px;
}
.p-Home.Image38 {
width: 45%;
border-radius: 30px;
}
.p-Home.Image39 {
width: 45%;
border-radius: 30px;
}
.p-Home.TextBox125 {
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
}
.p-Home.Image47 {
width: 75%;
border-radius: 30px;
}
.p-Home.TextBox63 {
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
color: #000000;
}
.p-Home.Image48 {
;
}
.p-Home.TextBox64 {
font-family: ;
}
.p-Home.TextBox65 {
;
}
.p-Home.Image49 {
;
}
.p-Home.Image50 {
;
}
.p-Home.TextBox66 {
;
}
.p-Home.TextBox67 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
margin-bottom: 30px;
}
.p-Home.TextBox68 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #696969;
}
.p-Home.TextBox70 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #696969;
}
.p-Home.Button10 {
color: #fff;
background-color: #ff762a;
padding-top: 12px;
padding-left: 30px;
padding-bottom: 12px;
padding-right: 30px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
height: 100%;
font-family: DM Sans;
}
.p-Home.Button11 {
color: #000000;
background-color: #ffffff;
padding-top: 12px;
padding-left: 30px;
padding-bottom: 12px;
padding-right: 30px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d0d0d0;
cursor: pointer;
user-select: none;
height: 100%;
font-family: DM Sans;
}
.p-Home.TextBox71 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.TextBox72 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #696969;
margin-top: 30px;
max-width: 750px;
}
.p-Home.Image51 {
border-radius: 30px;
width: 100%;
position: static;
}
.p-Home.TextBox75 {
background-color: #ffffff;
padding-left: 12px;
padding-right: 12px;
padding-top: 8px;
padding-bottom: 8px;
border-radius: 12px;
position: absolute;
z-index: 1;
top: 12px;
right: 12px;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox73 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
text-align: center;
align-self: center;
}
.p-Home.TextBox74 {
font-family: DM Sans;
font-size: 16px;
font-weight: 500;
color: #696969;
text-align: center;
width: 100%;
}
.p-Home.TextBox76 {
font-family: DM Sans;
font-size: 16px;
font-weight: 500;
color: #696969;
text-align: center;
width: 100%;
}
.p-Home.TextBox77 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
text-align: center;
align-self: center;
}
.p-Home.TextBox78 {
background-color: #ffffff;
padding-left: 12px;
padding-right: 12px;
padding-top: 8px;
padding-bottom: 8px;
border-radius: 12px;
position: absolute;
z-index: 1;
top: 12px;
right: 12px;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Image52 {
border-radius: 30px;
width: 100%;
position: static;
}
.p-Home.TextBox79 {
font-family: DM Sans;
font-size: 16px;
font-weight: 500;
color: #696969;
text-align: center;
width: 100%;
}
.p-Home.TextBox80 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
text-align: center;
align-self: center;
}
.p-Home.TextBox81 {
background-color: #ffffff;
padding-left: 12px;
padding-right: 12px;
padding-top: 8px;
padding-bottom: 8px;
border-radius: 12px;
position: absolute;
z-index: 1;
top: 12px;
right: 12px;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Image53 {
border-radius: 30px;
width: 100%;
position: static;
}
.p-Home.TextBox82 {
font-family: DM Sans;
font-size: 16px;
font-weight: 500;
color: #696969;
text-align: center;
width: 100%;
}
.p-Home.TextBox83 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
text-align: center;
align-self: center;
}
.p-Home.TextBox84 {
background-color: #ffffff;
padding-left: 12px;
padding-right: 12px;
padding-top: 8px;
padding-bottom: 8px;
border-radius: 12px;
position: absolute;
z-index: 1;
top: 12px;
right: 12px;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Image54 {
border-radius: 30px;
width: 100%;
position: static;
}
.p-Home.Image55 {
border-radius: 30px;
width: 100%;
position: static;
}
.p-Home.TextBox85 {
background-color: #ffffff;
padding-left: 12px;
padding-right: 12px;
padding-top: 8px;
padding-bottom: 8px;
border-radius: 12px;
position: absolute;
z-index: 1;
top: 12px;
right: 12px;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox86 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
text-align: center;
align-self: center;
}
.p-Home.TextBox87 {
font-family: DM Sans;
font-size: 16px;
font-weight: 500;
color: #696969;
text-align: center;
width: 100%;
}
.p-Home.Image56 {
border-radius: 30px;
width: 100%;
position: static;
}
.p-Home.TextBox88 {
background-color: #ffffff;
padding-left: 12px;
padding-right: 12px;
padding-top: 8px;
padding-bottom: 8px;
border-radius: 12px;
position: absolute;
z-index: 1;
top: 12px;
right: 12px;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox89 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
text-align: center;
align-self: center;
}
.p-Home.TextBox90 {
font-family: DM Sans;
font-size: 16px;
font-weight: 500;
color: #696969;
text-align: center;
width: 100%;
}
.p-Home.Image57 {
border-radius: 30px;
width: 100%;
position: static;
}
.p-Home.TextBox91 {
background-color: #ffffff;
padding-left: 12px;
padding-right: 12px;
padding-top: 8px;
padding-bottom: 8px;
border-radius: 12px;
position: absolute;
z-index: 1;
top: 12px;
right: 12px;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox92 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
text-align: center;
align-self: center;
}
.p-Home.TextBox93 {
font-family: DM Sans;
font-size: 16px;
font-weight: 500;
color: #696969;
text-align: center;
width: 100%;
}
.p-Home.Image58 {
border-radius: 30px;
width: 100%;
position: static;
}
.p-Home.TextBox94 {
background-color: #ffffff;
padding-left: 12px;
padding-right: 12px;
padding-top: 8px;
padding-bottom: 8px;
border-radius: 12px;
position: absolute;
z-index: 1;
top: 12px;
right: 12px;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox95 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
text-align: center;
align-self: center;
}
.p-Home.TextBox96 {
font-family: DM Sans;
font-size: 16px;
font-weight: 500;
color: #696969;
text-align: center;
width: 100%;
}
.p-Home.Button15 {
color: #000000;
background-color: transparent;
padding-top: 12px;
padding-left: 30px;
padding-bottom: 12px;
padding-right: 30px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d0d0d0;
cursor: pointer;
user-select: none;
height: 100%;
font-family: DM Sans;
}
.p-Home.Button17 {
color: #fff;
background-color: #ff762a;
padding-top: 12px;
padding-left: 30px;
padding-bottom: 12px;
padding-right: 30px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
height: 100%;
font-family: DM Sans;
}
.p-Home.TextBox97 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
margin-bottom: ;
}
.p-Home.TextBox98 {
max-width: 750px;
margin-bottom: ;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #696969;
}
.p-Home.Image59 {
width: 50px;
background-color: #ff762a;
border-radius: 50%;
height: 50px;
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
padding-bottom: 5px;
}
.p-Home.Image60 {
width: 50px;
background-color: #ff762a;
border-radius: 50%;
height: 50px;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 5px;
}
.p-Home.TextBox99 {
font-family: DM Sans;
font-weight: 500;
font-size: 24px;
}
.p-Home.TextBox100 {
font-family: DM Sans;
font-weight: 500;
font-size: 14px;
color: #696969;
}
.p-Home.Image61 {
width: 30px;
}
.p-Home.Image62 {
width: 30px;
}
.p-Home.Image63 {
width: 30px;
}
.p-Home.Image64 {
width: 30px;
}
.p-Home.Image65 {
width: 30px;
}
.p-Home.Image66 {
width: 50px;
height: 50px;
border-radius: 50%;
}
.p-Home.TextBox101 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
}
.p-Home.TextBox102 {
font-family: DM Sans;
font-size: 16px;
font-weight: 500;
color: #696969;
}
.p-Home.Button20 {
color: #fff;
background-color: #ff762a;
padding-top: 12px;
padding-left: 30px;
padding-bottom: 12px;
padding-right: 30px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
height: 100%;
font-family: DM Sans;
}
.p-Home.Button21 {
color: #000000;
background-color: transparent;
padding-top: 12px;
padding-left: 30px;
padding-bottom: 12px;
padding-right: 30px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d0d0d0;
cursor: pointer;
user-select: none;
height: 100%;
font-family: DM Sans;
}
.p-Home.Button22 {
color: #fff;
background-color: #ff762a;
padding-top: 12px;
padding-left: 30px;
padding-bottom: 12px;
padding-right: 30px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
height: ;
font-family: DM Sans;
}
.p-Home.TextBox113 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.Input1 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 8px;
padding-left: 12px;
padding-bottom: 8px;
padding-right: 12px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 50px;
}
.p-Home.Input2 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 8px;
padding-left: 12px;
padding-bottom: 8px;
padding-right: 12px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 50px;
}
.p-Home.TextBox114 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.Input3 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 8px;
padding-left: 12px;
padding-bottom: 8px;
padding-right: 12px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 50px;
}
.p-Home.TextBox115 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.Input4 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 8px;
padding-left: 12px;
padding-bottom: 8px;
padding-right: 12px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 50px;
}
.p-Home.TextBox116 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.Input5 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 8px;
padding-left: 12px;
padding-bottom: 8px;
padding-right: 12px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 50px;
}
.p-Home.TextBox117 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.Input6 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 8px;
padding-left: 12px;
padding-bottom: 8px;
padding-right: 12px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 50px;
}
.p-Home.TextBox118 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.TextBox119 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.Input7 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 8px;
padding-left: 12px;
padding-bottom: 8px;
padding-right: 12px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 30px;
height: 200px;
align-self: auto;
text-align: center;
}
.p-Home.TextBox111 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #696969;
max-width: ;
margin-bottom: 20px;
}
.p-Home.TextBox112 {
font-family: DM Sans;
font-weight: 700;
font-size: 34px;
margin-bottom: 20px;
}
.p-Home.Image70 {
;
}
.p-Home.TextBox107 {
font-family: ;
}
.p-Home.TextBox108 {
;
}
.p-Home.Image71 {
;
}
.p-Home.Image72 {
;
}
.p-Home.TextBox109 {
;
}
